body{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

*{
    box-sizing: border-box;
    
}

.outer{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 700px;
    
}

.inner1{
    display: flex;
    flex-direction: row;
}

.one{
    flex: 20%;
    height: 490px;
    margin: 5px;
    border: 1px solid black;
    box-shadow: 2px 5px 5px rgb(255, 0, 140);
    
    
}

h3{
    margin-left: 15px;
}

li{
    margin-right: 5px;
}

.two{
    height: 230px;
    border-bottom: 1px solid black;
    box-shadow: 2px 5px 5px rgb(255, 0, 140);
}

.four{
    height: 245px;
    padding-right: 15px;
}

.six{
    height: 200px;
    display: flex;
}

.five{
    height: 190px;
    flex: 50%;
    margin: 5px;
    border: 1px solid black;
    box-shadow: 2px 5px 5px rgb(255, 0, 140);
}